<a href="https://colab.research.google.com/github/ChetanKnowIt/Python_Class/blob/main/python_practice_extra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python practice

Write a program that contains a function that has one parameter, n, representing an integer
greater than 0. The function should return n! (n factorial). Then write a main function that calls this
function with the values 1 through 20, one at a time, printing the returned results. This is what your
output should look like:

1 1

2 2

3 6

4 24

5 120

6 720

7 5040

8 40320

9 362880

In [ ]:
def fact(n):
  f = 1
  for i in range(1,n+1):
    f = f*i
  return f

if __name__=="__main__":
  for i in range(1,21):
    print(i,fact(i))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200
15 1307674368000
16 20922789888000
17 355687428096000
18 6402373705728000
19 121645100408832000
20 2432902008176640000

Python Program to get Maximum product of elements of list in a 2D list
Input :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output : 504
Explanation:1*2*3 = 6, 4*5*6 = 120, 7*8*9 = 504
Since maximum is 504.

In [ ]:
def getmax(l):
  sublst = []
  result = []
  for i in range(0, len(l)):
    sublst = l[i]
    #print(sublst)
    p=1
    for j in sublst:
      p = p*j
    result.append(p)
  #print(result)
  return max(result)

if __name__=="__main__":
  lst =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
  print(getmax(lst))

504

Sum of number digits in List
The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [ ]:
l=[12,67,98,34]
new_lst=[]
for i in l:
  sum = 0
  while i!=0:
    sum = sum + i%10
    i=i//10  
  new_lst.append(sum)
print(new_lst)

[3, 13, 17, 7]

Program to print duplicates from a list of integers

Input :  list = [-1, 1, -1, 8]
Output : output_list = [-1]

Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
Output : output_list = [20, 30, -20, 60]

In [ ]:
p =  [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20] 
s=[]
for i in p:
  if p.count(i)>1:
    s.append(i)

e=list(set(s))
print(e)

[20, -20, 30, 60]

------------------------------------------------------------------
Uncommon elements in Lists of List
The original list 1 : [[1, 2], [3, 4], [5, 6]]
The original list 2 : [[3, 4], [5, 7], [1, 2]]
The uncommon of two lists is : [[5, 6], [5, 7]]

------------------------------------------------------------------

In [ ]:
l1 = [[1,2], [3,4], [5,6]]
l2 = [[3,4], [5,7], [1,2]]
l3 = []
l4 = []

for i in l1:
  if i not in l2:
    l4.append(i)
    
for i in l2:
  if i not in l1:
    l4.append(i)


print(l4)

[[5, 6], [5, 7]]

In [ ]:
n=8888218321
sum = 0

while n!=0:
    temp=n%10
    sum = sum + temp
    n=n//10
    
print(sum)

49

In [ ]:
import numpy as np

a = np.random.randint(1,100,20)
print("input numpy array: ", a)


def primeno(n):
  flag = False
  for i in range(2,n):
    if (n % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break
  if not flag:
    return n

lst = []
for i in a:
  lst.append(primeno(i))
new_list = [i for i in lst if i is not None]
#print(new_list)
a1 = np.array(new_list)
print("output prime array: ", a1)

input numpy array:  [ 7 50 10 56 99 21 90  9 91 60 57 35 51 69 18  9 24  6 35 57]
output prime array:  [7]

Reverse Row sort in Lists of List The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]] The reverse sorted Matrix is : [[6, 4, 1], [8, 7], [10, 8, 4]]

In [ ]:
l =  [[4, 1, 6], [7, 8], [4, 10, 8]]
for i in range(len(l)):
  l[i].sort(reverse=True)
print(l)

[[6, 4, 1], [8, 7], [10, 8, 4]]


Python program to find the sum of a Sublist
The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]]
result is [11,15,22]

In [ ]:
l =  [[4, 1, 6], [7, 8], [4, 10, 8]]
newlst = []
for i in range(len(l)):
  temp = sum(l[i])
  newlst.append(temp)

  
print(newlst)

[11, 15, 22]

------------------------------------------------------------------
Python Program to Square Each Odd Number in a List using List Comprehension
data=[1,2,3,4,5,6,7]
[1, 9, 25, 49]

In [ ]:
l= [1,2,3,4,5,6,7]
lst = [ x**2 for x in l if x%2==1]
print(lst)

[1, 9, 25, 49]


---------------------------------------------------------------
Python program to print even length words in a string
Input: s = "This is a python language"
Output: This is python language

In [ ]:
s = "This is a python language" 
s1 = s.split(" ")
s2 = [x for x in s1 if len(x)%2==0]
f = " ".join(s2)
print(f)

This is python language

Python program to capitalize the first and last character of each word in a string
Given the string, the task is to capitalise the first and last character of each word in a string. Examples:

Input: hello world 
Output: HellO WorlD

In [ ]:
string = "hello world"

#method 1
s1 = string.split(" ")
lst = []
one = []
for i in range(0,len(s1)):
  lst.append(s1[i][1:-1])
  temp = s1[i][0].upper()+lst[i]+s1[i][-1].upper()
  one.append(temp)

f = " ".join(one)
print(f)

#method 2
print(string[0:][0].upper()+string[1:4]+string[4].upper()+" "+string[6].upper()+string[7:-1]+string[-1].upper())

HellO WorlD
HellO WorlD

---------------------------------------------------------

Python program to check if a string has at least one letter and one number
Given a string in Python. The task is to check whether the string has at least one letter(character) and one number. Return “True” if the given string full fill above condition else return “False” (without quotes).
Examples: 

Input: welcome2ourcountry34
Output: True

Input: stringwithoutnum
Output: False

----------------------------------------------------------------------

In [ ]:
string = "stringwithoutnum"

a = 0
b = 0
for i in string:
  if i.isdigit():
    a = 1
    continue
  elif i.isalpha():
    b = 1
    continue

c = a and b
if c:
  print("True")
else:
  print("False")

False

----------------------------------------------------
returns a list of Least Frequent Character in String
string="welcometoknowit"
least frequency char :[ 'l', 'c', 'o', 'm', 'k', 'n', 'i']

----------------------------------------------------

In [ ]:
string = "welcometoknowit"

lst = []
for i in string:
  if string.count(i)%2==1:
    lst.append(i)

new = list(set(lst))
print(new)

['n', 'm', 'c', 'o', 'k', 'l', 'i']

---------------------------------------------------

Given a String list, extract frequency of specific characters in the whole strings list.

Input : test_list = [“geeksforgeeks is best for geeks”], chr_list = [‘e’, ‘b’, ‘g’, ‘f’] 

Output : {‘g’: 3, ‘e’: 7, ‘b’: 1, ‘f’ : 2} 

---------------------------------------------------------

In [ ]:
test_list = ["geeksforgeeks is best for geeks"]

a = 0
b = 0
c = 0
d = 0
for i in test_list[0]:
  if i == 'e':
    a+=1
  elif i == 'b':
    b+=1
  elif i == 'g':
    c+=1
  elif i == 'f':
    d+=1

chr_list = ['e', 'b', 'g', 'f']
dictionary = dict(zip(chr_list, [a,b,c,d]))
print(dictionary)

string = "ebgf"
# method 2
#d = { chr_list[i]:i for i in test_list[0] if i in chr_list}
#print(d)

{'e': 7, 'b': 1, 'g': 3, 'f': 2}

In [ ]:
import re
s = "The quick brown fox jumps over the lazy dog."

print("findall: ",re.findall('o',s))
print("search: ",re.search('o',s))
print("split: ",re.split('o',s))
print("sub: ",re.sub('o',"oo",s))

for i in re.finditer('o',s):
  print(i)


pat = re.compile(r'o')

findall:  ['o', 'o', 'o', 'o']
search:  <re.Match object; span=(12, 13), match='o'>
split:  ['The quick br', 'wn f', 'x jumps ', 'ver the lazy d', 'g.']
sub:  The quick broown foox jumps oover the lazy doog.
<re.Match object; span=(12, 13), match='o'>
<re.Match object; span=(17, 18), match='o'>
<re.Match object; span=(26, 27), match='o'>
<re.Match object; span=(41, 42), match='o'>

In [ ]:
# String operations problem

mySubject = "Computer Science"
print(mySubject[0:len(mySubject)]) #Computer Science
print(mySubject[-7:-1])
print(mySubject[::2])
print(mySubject[len(mySubject)-1])
print(2*mySubject)
print(mySubject[::-2])
print(mySubject[:3] + mySubject[3:])
print(mySubject.swapcase())
print(mySubject.startswith('Comp'))
print(mySubject.isalpha())

In [ ]:
myAddress = "WZ-1, New Ganga Nagar, New Delhi"
print(myAddress.lower()) # all lowercase
print(myAddress.upper()) # all uppercase
print(myAddress.count('New')) #counts the term new
print(myAddress.find("New"))
print(myAddress.rfind("New"))
print(myAddress.split(','))
print(myAddress.split(' '))
print(myAddress.replace('New', 'Old'))
print(myAddress.partition(','))
#print(myAddress.index('Agra'))

wz-1, new ganga nagar, new delhi
WZ-1, NEW GANGA NAGAR, NEW DELHI
2
6
23
['WZ-1', ' New Ganga Nagar', ' New Delhi']
['WZ-1,', 'New', 'Ganga', 'Nagar,', 'New', 'Delhi']
WZ-1, Old Ganga Nagar, Old Delhi
('WZ-1', ',', ' New Ganga Nagar, New Delhi')

In [ ]:

string = "ABCDCD"
print(string.count("CD"))

2

In [ ]:
mystring = input("Enter till ENTER pressed: ")

words = 0
alpha = 0
digit = 0
special = 0

print("Total characters: ",len(mystring))

# FOR WORDS
words_list = mystring.split()
for i in words_list:
  if i.isalpha():
    words+=1

# FOR EVERYTHING ELSE
s = mystring.replace(" ", "")
lst = list(s)
for i in lst:
  if i.isalpha():
    alpha+=1    
  elif i.isdigit():
    digit+=1
  else:
    special+=1

print("Total alphabets: ",alpha)
print("Total digits: ",digit)
print("Total special characters: ",special)
print("Total word count", words)

Enter till ENTER pressed: this is my string 1234 %^&
Total Characters:  26
Total alphabets:  14
Total digits:  4
Total special characters:  3
Total word count 4

In [ ]:
# list has to return max of the 3
# 1 is sum of positive numbers
# 2 is sum of negative numbers
# 3 is sum of 0's 
# whichever is greater has to be returned 

a = [1, 2, -3, 4, 0, 0, -3, -2]
p = [x for x in a if x>0]
n = [x for x in a if x<0]
z = [x for x in a if x==0]
psum = sum(p)
nsum = sum(n)
zsum = sum(z)

lst = [psum, (nsum*-1), zsum]
m = max(lst)
if m == (nsum*-1):
  print(m*-1)
else:
  print(m)

-8

In [ ]:
def usrTitle(s):
  print(s)
  lst = s.split()
  a = []
  for i in lst: 
    a.append(i[0].upper()+i[1:])
  f = " ".join(a)
  return f

s1 = input("enter string: ")
usrTitle(s1)

enter string: this is my string
this is my string

'This Is My String'

In [ ]:
def deleteChar(string,character):
  result = ""
  for i in string:
    if i == character:
      pass
    else:
      result += i
  return result

print(deleteChar("this is my string", 's'))

thi i my tring

In [ ]:
def SumDigits(string):
  cnt = 0
  for i in string:
    if i.isdigit():
      cnt = cnt + int(i)
  return cnt



print(SumDigits("this is my string 1234"))

10

In [ ]:
def PutHyphen(string):
  return string.replace(" ", "-")

s = "this is my string with many words"
print(PutHyphen(s))

this-is-my-string-with-many-words

In [ ]:
stRecord = ['Raman','A-36',[56,98,99,72,69],78.8]
# name, rolno, marks in 5 subjects, percentage 
print("Percentage of Student: ", stRecord[-1])
print("Marks in the 5th subject: ", stRecord[2][-1])
print("Maximum marks of student: ", max(stRecord[2]))
print("Roll No of student: ", stRecord[1])
stRecord[0]='Raghav'
print("Name Change: ", stRecord)

Percentage of Student:  78.8
Marks in the 5th subject:  69
Maximum marks of student:  99
Roll No of student:  A-36
Name Change:  ['Raghav', 'A-36', [56, 98, 99, 72, 69], 78.8]

In [ ]:
def CntElement(l, k):
  cnt = 0
  for i in l:
    cnt+=1
  return cnt

lst = [55, 22, 44, 22, 55, 11, 55, 66, 39]
print(CntElement(lst, '55'))

9

In [ ]:
num = int(input("Enter number of integers you want: "))
lst = []
for i in range(0, num):
  lst.append(int(input()))
p = [ x for x in lst if x>0]
n = [ x for x in lst if x<0]
print("First: ", lst)
print("Second: ", p)
print("Third: ", n)

Enter number of integers you want: 10
-1
-4
5
7
99
44
32
-5
94
234
First:  [-1, -4, 5, 7, 99, 44, 32, -5, 94, 234]
Second:  [5, 7, 99, 44, 32, 94, 234]
Third:  [-1, -4, -5]

In [ ]:
def LargestNumber(a):
  p = [x for x in a if x>0]
  n = [x*-1 for x in a if x<0]
  z = [x for x in a if x==0]
  psum = max(p)
  nsum = max(n)
  zsum = max(z)

  lst = [psum, nsum, zsum]
  
  m = max(lst)
  if m == nsum:
    return (m*-1)
  else:
    return m 


lst =  [-1, -4, 5, 7, 99, 44, 32, -5, 945, 234, 0]
print(LargestNumber(lst))

945

___________________________________________________________________
5. Write a program to read a list of n integers and find
their median.
Note: The median value of a list of values is the
middle one when they are arranged in order. If there
are two middle values then take their average.
Hint: You can use an built-in function to sort the list

In [ ]:
# 1 -2 -5 6 3 -2 -6 32 12 

lst = list(map(int, input().split()))
lst.sort()
print("sorted list of ints:",lst)
#print("# of elements in list:",len(lst))
med = 0
l = len(lst)
print(lst[(l//2)], l)
if l%2 == 1:
  med = lst[(l//2)]
elif l%2 == 0:
  med = (lst[(l//2)]+lst[(l//2)-1])/2

print(med)

1 -2 -5 6 3 -2 -6 32
sorted list of ints: [-6, -5, -2, -2, 1, 3, 6, 32]
1 8
-0.5

___________________________________________________________________
6. Write a program to read a list of elements. Modify
this list so that it does not contain any duplicate
elements, i.e., all elements occurring multiple times
in the list should appear only once.

In [ ]:
lst = list(set(input().split()))
print(lst)

4 42 44 2 55 2 4 44 yy aa fjfj aa
['yy', 'fjfj', '44', '2', 'aa', '4', '42', '55']

___________________________________________________________________
7. Write a program to read a list of elements. Input
an element from the user that has to be inserted in
the list. Also input the position at which it is to be
inserted. Write a user defined function to insert the
element at the desired position in the list.
_________________________________________________

In [ ]:
# accept list, index, value
a = [1,2,3,4,5]
idx = 4
value= 6

def insert_element(a,i,e):
    b=a[:i] + [e] + a[i:]
    return b

result = insert_element(a,idx,value)
print(result)

[1, 2, 3, 4, 6, 5]

___________________________________________________________________
8. Write a program to read elements of a list.
a) The program should ask for the position of
the element to be deleted from the list. Write
a function to delete the element at the desired
position in the list.
b) The program should ask for the value of the
element to be deleted from the list. Write a
function to delete the element of this value
from the list.
___________________________________________________________________

In [ ]:
lst = input().split()
pos = int(input("Enter pos to delete: "))

def delete_element_index(a, i):
  b = []
  b = a[:i-1] + a[i:]
  return b

result = delete_element_index(lst, pos)
print(result)

1 2 3 4 5
Enter pos to delete: 4
['1', '2', '3', '5']

In [ ]:
lst = input().split()
value = input("Enter value to delete: ")

def delete_element_value(a, v):
  b = list(filter(lambda x: x!= v, a))
  return b
result = delete_element_value(lst, value)
print(result)

3 4 5 3 2 9 3
Enter value to delete: 3
['4', '5', '2', '9']


Write a program to input your friend’s, names and their
phone numbers and store them in the dictionary as the
key-value pair. Perform the following operations on the
dictionary:
a) Display the Name and Phone number for all your
friends.
b) Add a new key-value pair in this dictionary and
display the modified dictionary
2022-23
78 Informatics Practices – Class XI
c) Delete a particular friend from the dictionary
d) Modify the phone number of an existing friend
e) Check if a friend is present in the dictionary or not
f) Display the dictionary in sorted order of names

In [ ]:
names = list(map(str, input().split()))
phones = list(map(int, input().split()))

phonedir = dict(zip(names, phones))
print(phonedir)

def addnew()

a b c d
1 2 3 4
{'a': 1, 'b': 2, 'c': 3, 'd': 4}