<a href="https://colab.research.google.com/github/ChetanKnowIt/Python_Class/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python practice

Write a program that contains a function that has one parameter, n, representing an integer
greater than 0. The function should return n! (n factorial). Then write a main function that calls this
function with the values 1 through 20, one at a time, printing the returned results. This is what your
output should look like:

1 1

2 2

3 6

4 24

5 120

6 720

7 5040

8 40320

9 362880

In [ ]:
def fact(n):
  f = 1
  for i in range(1,n+1):
    f = f*i
  return f

if __name__=="__main__":
  for i in range(1,21):
    print(i,fact(i))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200
15 1307674368000
16 20922789888000
17 355687428096000
18 6402373705728000
19 121645100408832000
20 2432902008176640000

Python Program to get Maximum product of elements of list in a 2D list
Input :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Output : 504
Explanation:1*2*3 = 6, 4*5*6 = 120, 7*8*9 = 504
Since maximum is 504.

In [ ]:
def getmax(l):
  sublst = []
  result = []
  for i in range(0, len(l)):
    sublst = l[i]
    #print(sublst)
    p=1
    for j in sublst:
      p = p*j
    result.append(p)
  #print(result)
  return max(result)

if __name__=="__main__":
  lst =  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
  print(getmax(lst))

504

Sum of number digits in List
The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]

In [ ]:
l=[12,67,98,34]
new_lst=[]
for i in l:
  sum = 0
  while i!=0:
    sum = sum + i%10
    i=i//10  
  new_lst.append(sum)
print(new_lst)

[3, 13, 17, 7]

Program to print duplicates from a list of integers

Input :  list = [-1, 1, -1, 8]
Output : output_list = [-1]

Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
Output : output_list = [20, 30, -20, 60]

In [ ]:
p =  [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20] 
s=[]
for i in p:
  if p.count(i)>1:
    s.append(i)

e=list(set(s))
print(e)

[20, -20, 30, 60]

------------------------------------------------------------------
Uncommon elements in Lists of List
The original list 1 : [[1, 2], [3, 4], [5, 6]]
The original list 2 : [[3, 4], [5, 7], [1, 2]]
The uncommon of two lists is : [[5, 6], [5, 7]]

------------------------------------------------------------------

In [ ]:
l1 = [[1,2], [3,4], [5,6]]
l2 = [[3,4], [5,7], [1,2]]
l3 = []
l4 = []

for i in l1:
  if i in l2:
    l3.append(i)
  elif i not in l2:
    l4.append(i)

for i in l2:
  if i in l1:
    l3.append(i)
  elif i not in l1:
    l4.append(i)


print(l4)

[[5, 6], [5, 7]]

findall:  ['o', 'o', 'o', 'o']
search:  <re.Match object; span=(12, 13), match='o'>
split:  ['The quick br', 'wn f', 'x jumps ', 'ver the lazy d', 'g.']
sub:  The quick broown foox jumps oover the lazy doog.
<re.Match object; span=(12, 13), match='o'>
<re.Match object; span=(17, 18), match='o'>
<re.Match object; span=(26, 27), match='o'>
<re.Match object; span=(41, 42), match='o'>

In [ ]:
n=8888218321
sum = 0

while n!=0:
    temp=n%10
    sum = sum + temp
    n=n//10
    
print(sum)

49

In [ ]:
import numpy as np

a = np.random.randint(1,100,20)
print("input numpy array: ", a)


def primeno(n):
  flag = False
  for i in range(2,n):
    if (n % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break
  if not flag:
    return n

lst = []
for i in a:
  lst.append(primeno(i))
new_list = [i for i in lst if i is not None]
#print(new_list)
a1 = np.array(new_list)
print("output prime array: ", a1)

input numpy array:  [ 7 50 10 56 99 21 90  9 91 60 57 35 51 69 18  9 24  6 35 57]
output prime array:  [7]

Reverse Row sort in Lists of List The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]] The reverse sorted Matrix is : [[6, 4, 1], [8, 7], [10, 8, 4]]

In [ ]:
l =  [[4, 1, 6], [7, 8], [4, 10, 8]]
for i in range(len(l)):
  l[i].sort(reverse=True)
print(l)

[[6, 4, 1], [8, 7], [10, 8, 4]]


Python program to find the sum of a Sublist
The original list is : [[4, 1, 6], [7, 8], [4, 10, 8]]
result is [11,15,22]

In [ ]:
l =  [[4, 1, 6], [7, 8], [4, 10, 8]]
newlst = []
for i in range(len(l)):
  temp = sum(l[i])
  newlst.append(temp)

  
print(newlst)

[11, 15, 22]

------------------------------------------------------------------
Python Program to Square Each Odd Number in a List using List Comprehension
data=[1,2,3,4,5,6,7]
[1, 9, 25, 49]

In [ ]:
l= [1,2,3,4,5,6,7]
lst = [ x**2 for x in l if x%2==1]
print(lst)

[1, 9, 25, 49]


---------------------------------------------------------------
Python program to print even length words in a string
Input: s = "This is a python language"
Output: This is python language

In [ ]:
s = "This is a python language" 
s1 = s.split(" ")
s2 = [x for x in s1 if len(x)%2==0]
f = " ".join(s2)
print(f)

This is python language

Python program to capitalize the first and last character of each word in a string
Given the string, the task is to capitalise the first and last character of each word in a string. Examples:

Input: hello world 
Output: HellO WorlD

In [ ]:
string = "hello world"

#method 1
s1 = string.split(" ")
lst = []
one = []
for i in range(0,len(s1)):
  lst.append(s1[i][1:-1])
  temp = s1[i][0].upper()+lst[i]+s1[i][-1].upper()
  one.append(temp)

f = " ".join(one)
print(f)

#method 2
print(string[0:][0].upper()+string[1:4]+string[4].upper()+" "+string[6].upper()+string[7:-1]+string[-1].upper())

HellO WorlD
HellO WorlD

In [ ]:
import re
s = "The quick brown fox jumps over the lazy dog."

print("findall: ",re.findall('o',s))
print("search: ",re.search('o',s))
print("split: ",re.split('o',s))
print("sub: ",re.sub('o',"oo",s))

for i in re.finditer('o',s):
  print(i)


pat = re.compile(r'o')

findall:  ['o', 'o', 'o', 'o']
search:  <re.Match object; span=(12, 13), match='o'>
split:  ['The quick br', 'wn f', 'x jumps ', 'ver the lazy d', 'g.']
sub:  The quick broown foox jumps oover the lazy doog.
<re.Match object; span=(12, 13), match='o'>
<re.Match object; span=(17, 18), match='o'>
<re.Match object; span=(26, 27), match='o'>
<re.Match object; span=(41, 42), match='o'>

Test question
1. ****1234 card number
2. factorial of dictionaries
3. prime number numpy array and prime tuples of that array
4. 4 and 6 digits- valid / Invalid

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = "copied path"
df_bonus = pd.read_csv(path)